/Images/Logo (GIMP File)-2.xcf
/.gitignore~
/Images/Favicon (GIMP File).xcf
/Images/Favicon (GIMP File)-2.xcf
/contact.html~
/README.md~
/websites.html~
/art.html~
/Images/Icon - MineTest (GIMP File).xcf
/Images/Icon - Codecademy (GIMP File).xcf
/Images/Icon - Nintendo Wiki (GIMP File).xcf
/Images/Icon - GitHub (GIMP File).xcf
/Images/Icon - DevientART (GIMP File).xcf
/style.css~
/index.html~
/Images/Logo (GIMP File).xcf
/.project
