/* Page Colors */
/* Primary: #4479D4 */
/* Secondary: #1049A9 */

/* Entire page */
html, body {
    	height: 100%;
    	margin: 0;
	background: #4479D4;
}

/* Div that covers entire page */
#main{
	width: 100%;
	margin: auto;
	min-height: 100%;
	position: relative;
}

/* Entire header div, includes navigation bar as well */
#header{
	background: #1049A9;
	text-align: center;
	width: 100%;
}

/* The logo image at the top of the page */
#logo{
	max-width: 100%;
	height: auto;
}

/* The navigation bar inside the header */
#navbar{
	background: #1049A9;
	text-align: center;
	margin: auto;
	width: 80%;
	height: 100%;
}

/* The navigation bar list inside the navigation bar div */
#navbar ul{
	list-style: none;
	padding: 0;
	padding-bottom: 10px;
	text-align: left;
}

/* Each object inside the navigation bar list */
#navbar li{
	padding-right: 15px;
	padding-bottom: 20px;
	display: inline;
	line-height: 40px;
}

/* The link in each object in the navigation bar list */
#navbar li a{
	background: #081272;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	text-decoration: none !important;
	color: #C0AA2E;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

/* The link in each object in the navigation bar list when it is hovered over */
#navbar li a:hover{
	background: #FFFFFF;
	text-decoration: none !important;
	color: #020008;
}

/* The footer div */
#footer{
	background: #1049A9;
	text-align: center;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 0.6em;
}

/* The content div in the middle of the page */
#content{
	width: 85%;
	margin: auto;
	color: #020008;
	padding-bottom: 100px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1em;
}

/* Level 2 headings in the content div */
#content h2{
	border-bottom: 1px solid black;
	font-style: italic;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-size: 18pt;
}

/* Images that are in right aligned divs */
.right-art{
	max-width: 100%;
	height: auto;
}

/* Divs containg a gallery image */
.gallery{
	width: 100%;
	text-align: center;
}

/* Gallery images contained in a gallery div */
.gallery img{
	border: 1px solid #000000;
	margin-bottom: 5px;
	box-shadow: 0px 0px 4px #000000;
}

/* Horizontal dividers */
#content hr{
	border: 1px solid #1049A9;
	margin-top: 35px;
	margin-bottom: 25px;
}

/* Normal sized box for images aligned to the right of the page */
.image-on-right{
	float: right;
	max-width: 40%;
	min-width: 300px;
	margin: 15px;
	margin-top: 2px;
	padding: 8px;
	font-size: 10px;
	background: #c7b789;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 5px 5px 20px #000000;
}

/* Small box for images aligned to the right of the page */
.image-on-right2{
	float: right;
	width: 15%;
	margin: 5px;
	margin-top: 2px;
	padding: 8px;
	font-size: 10px;
	background: #c7b789;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 5px 5px 20px #000000;
}

/* Image icons for websites on the website list */
.icon{
	vertical-align: middle;
}

/* Links for a website object on the website list */
.icon-item{
}

/* Linked text in website list that is not italicized */
.no-italics{
	font-style: normal;
}

/* Links in the content div */
#content a{
	text-decoration: none !important;
	color: #020008;
	font-style: italic;
}

/* Links in the content div when they are hovered over */
#content a:hover{
	text-decoration: underline !important;
}
