/* Page Colors */
/* Primary: #4479D4 */
/* Secondary: #1049A9 */

html, body {
    	height: 100%;
    	margin: 0;
	background: #4479D4;
}

#main{
	width: 100%;
	margin: auto;
	min-height: 100%;
	position: relative;
}

#header{
	background: #1049A9;
	text-align: center;
}

#navbar{
	background: #1049A9;
	text-align: center;
	margin: 0 auto;
	width: 80%;
}

#navbar ul{
	list-style: none;
	height: 2em;
	padding: 0;
}

#navbar li{
	float: left;
	margin-right: 10px;
}

#navbar li a{
	background: #081272;
	border-radius: 10px;
	text-decoration: none !important;
	color: #C0AA2E; /* #020008; */
	padding: 6px;
}

#navbar li a:hover{
	background: #FFFFFF;
	border-radius: 10px;
	text-decoration: none !important;
	color: #020008;
}

#footer{
	background: #1049A9;
	text-align: center;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

#content{
	width: 85%;
	margin: auto;
	color: #020008;
	padding-bottom: 80px;
}

.gallery{

}

.gallery img{
	border: 1px solid #000000;
	margin-bottom: 5px;
}

#content hr{
	border: 1px solid #1049A9;
}

.image-on-right{
	float: right;
	margin: 5px;
	margin-top: 2px;
	padding: 3px;
	font-size: 10px;
	background: #c7b789;
}

.icon{
	vertical-align: middle;
}

.icon-item{
}

#content a{
	text-decoration: none !important;
	color: #020008;
	font-style: italic;
}

#content a:hover{
	text-decoration: underline !important;
}
