body{
	background: #00005C;
}

#main{
	border: 1px solid #001752;
	margin: auto;
	width: 80%;
	background: #8999c7;
	margin-top: 20px;
}

#header{
	border-bottom: 1px solid #001752;
	text-align: center;
}

#content{
	color: #020008;
	margin-left: 7px;
}

.image-on-right{
	float: right;
	margin: 5px;
	margin-top: 2px;
	padding: 3px;
	font-size: 10px;
	background: #c7b789;
}

.icon{
	vertical-align: middle;
}

.icon-item{
}

a{
	text-decoration: none !important;
	color: #020008;
	font-style: italic;
}

a:hover{
	text-decoration: underline !important;
}
