/* Page Colors */
/* Primary: #4479D4 */
/* Secondary: #1049A9 */

html, body {
    	height: 100%;
    	margin: 0;
	background: #4479D4;
}

#main{
	width: 100%;
	margin: auto;
	min-height: 100%;
	position: relative;
}

#header{
	background: #1049A9;
	text-align: center;
	width: 100%;
}

#logo{
	max-width: 100%;
	height: auto;
}

#navbar{
	background: #1049A9;
	text-align: center;
	margin: auto;
	width: 80%;
	height: 100%;
}

#navbar ul{
	list-style: none;
	/*height: 2em;*/
	padding: 0;
	padding-bottom: 10px;
	text-align: left;
}

#navbar li{
	/*float: left;*/
	padding-right: 15px;
	padding-bottom: 20px;
	display: inline;
	line-height: 40px;
}

#navbar li a{
	background: #081272;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	text-decoration: none !important;
	color: #C0AA2E;
	padding: 6px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

#navbar li a:hover{
	background: #FFFFFF;
	text-decoration: none !important;
	color: #020008;
}

#footer{
	background: #1049A9;
	text-align: center;
	height: 80px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-family: Geneva, Tahoma, Verdana, sans-serif;
	font-size: 0.6em;
}

#content{
	width: 85%;
	margin: auto;
	color: #020008;
	padding-bottom: 100px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 1em;
}

#content h2{
	border-bottom: 1px solid black;
	font-style: italic;
	font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
	font-size: 18pt;
}

.right-art{
	max-width: 100%;
	height: auto;
}

.gallery{
	width: 100%;
	text-align: center;
}

.gallery img{
	border: 1px solid #000000;
	margin-bottom: 5px;
	box-shadow: 0px 0px 4px #000000;
}

#content hr{
	border: 1px solid #1049A9;
	margin-top: 35px;
	margin-bottom: 25px;
}

.image-on-right{
	float: right;
	max-width: 40%;
	min-width: 300px;
	margin: 15px;
	margin-top: 2px;
	padding: 8px;
	font-size: 10px;
	background: #c7b789;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 5px 5px 20px #000000;
}

.image-on-right2{
	float: right;
	width: 15%;
	margin: 5px;
	margin-top: 2px;
	padding: 8px;
	font-size: 10px;
	background: #c7b789;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	box-shadow: 5px 5px 20px #000000;
}

.icon{
	vertical-align: middle;
}

.icon-item{
}

.no-italics{
	font-style: normal;
}

#content a{
	text-decoration: none !important;
	color: #020008;
	font-style: italic;
}

#content a:hover{
	text-decoration: underline !important;
}
